# Node.js
node_modules/
.env

# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Compiled files
dist/
build/

# IDEs
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
